<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="test.screenlocker.com.myapplication">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <application
        android:name=".LocKAppApplicaton"
        android:allowBackup="true"
        android:icon="@drawable/lockicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        tools:replace="allowBackup">
        <activity android:name=".MainActivity"></activity>

        <activity android:name=".Splash"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    </activity>
        <activity android:name=".User_slide"></activity>




        <service android:name=".PinLockService" />

        <receiver
            android:name=".PinLockReceiver"
            android:enabled="true" >
        </receiver>
        <service android:name=".PatternLockService" />

        <receiver
            android:name=".PatternLockReceiver"
            android:enabled="true" >
        </receiver>
        <activity
            android:name=".UnlockPin"
             >
        </activity>





        <activity
            android:name=".UnlockPattern"
            android:theme="@style/AppTheme" >
        </activity>

        <activity android:name=".ActivatePattern"
            android:label="@string/app_name">
        </activity>

        <service android:name=".ActivatePatternService"/>
        <receiver
            android:name=".ActivatePatternReceiver"
            android:enabled="true" >
        </receiver>

        <activity android:name=".ActivatePin"
            android:label="@string/app_name">
        </activity>

        <service android:name=".ActivatePinService"/>
        <receiver
            android:name=".ActivatePinReceiver"
            android:enabled="true" >
        </receiver>


        <activity
        android:name=".PatternLock.MainActivity"
        android:label="@string/main_title"
        >
    </activity>

    <activity
        android:name=".PatternLock.PatternLockActivity"
        android:label="@string/pattern_lock_title"
        >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".PatternLock.MainActivity" />
    </activity>

    <activity
        android:name=".PatternLock.SetPatternActivity"
        android:label="@string/set_pattern_title"
       >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".PatternLock.PatternLockActivity" />
    </activity>

    <activity
        android:name=".PatternLock.ConfirmPatternActivity"
        android:label="@string/confirm_pattern_title"
        />

    <activity
        android:name=".PatternLock.ResetPatternActivity"
        android:label="@string/reset_pattern_title"
        />

    <activity
        android:name=".PatternLock.AboutActivity"
        android:label="@string/about_title"
        />
</application>
</manifest>
